@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Manrope', sans-serif;
}
@media (prefers-reduced-motion: no-preference) {
  :root {
      scroll-behavior: smooth;
  }
}

/*  */
/* .content {
  transition: 0.3s;
  height: 100%;
}
.content-expand {
  margin-top: 80px;
  transition: 0.3s;
  margin-left: 0;
  width: 100%;
} */